<h1 style="color:blue">STROOP Test</h1>

<div>
    <p id="prompt">Text</p>
    <button id="left-button">Text</button>
    <button id="right-button">Text</button>
</div>

<script>
    /*
    Display text that either says "Blue" or "Red". 
    The colour of the font is randomly chosen, so it does not always match up with the text.
    */
    const colors = ['blue', 'red'];
    
    function setTextElementProperties(id, text, color) {
        const getRandomColorIndex = () => {
            return Math.floor(Math.random() * colors.length);
        }
        if (text === undefined) {
            const random_word_idx = getRandomColorIndex(); // get random integer to select word to display
            text = colors[random_word_idx];
        }

        if (color === undefined) {
            const random_font_color_idx = getRandomColorIndex();   // get random integer to select font colour
            color = colors[random_font_color_idx];
        }

        document.getElementById(id).innerHTML = text.toUpperCase();
        document.getElementById(id).style.color = color;

        return [text, color];
    }
    
    setTextElementProperties("prompt");
    left_button_properties = setTextElementProperties("left-button");

    // Set right button based on left button properties
    text = left_button_properties[0] === colors[0] ? colors[1].toUpperCase() : colors[0].toUpperCase();   // set text opposite of left button
    color = left_button_properties[1] === colors[0] ? colors[1] : colors[0];     // set color opposite of left button
    setTextElementProperties("right-button", text, color);


</script>
